<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <img width="300" alt="Angular Logo" src="https://vignette.wikia.nocookie.net/fallout/images/e/e9/Fallout_4_box_cover.jpg/revision/latest/scale-to-width-down/700?cb=20170220211249">
</div>
<div>
  <h1>Achievements</h1>
</div>
<div>
  <span *ngFor="let trophy of namesOfTrophies">
    <img src="https://static.giantbomb.com/uploads/scale_medium/1/14070/1067976-40_bronze.png">
    {{ trophy.Field1 }}&nbsp;
  </span>
</div>
